{{ define "content" }}
<nav>
    <!--<h2>{{.Title}}</h2>-->
</nav>
<section id="fichiers" class="details">
    {{range .Files}}
            <div class="image_conteneur">
                <div class="image_background">
                    <div class="image" style="background-image:url('/miniature/{{.}}');" onclick="slider('/bigMiniature/{{.}}')"></div>
                    
                </div>
                <div class="action_bar">
                    <a href="/static/galerie/{{.}}" download="" class="action"><img src="/static/images/download.svg"></a>
                    <span class="action"></span>
                    <span class="action"></span>
                </div>
            </div>
                <!-- <img src="/{{.}}" class="fichier"/> -->
    {{end}}
    <script>
        //we create a list with all files
        list_files = new Array();
        {{range .Files}}
            list_files.push('/bigMiniature/{{.}}')
        {{end}}
    </script>
</section>
{{end}}