{{ define "page" }}

 

<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/nounours.css" />
    <script src="/static/js/nounours.js"></script>
    
    <title></title>

  </head>

  <body>
    
    <div id="all-content" class="{{.Content_id}}">
    <h1><strong>Zosio</strong>.Weloveminitel.eu</h1>
    {{ template "content" .}}
    </div>
    {{ if .Nav }}
    <footer>
      <nav>
        {{range .Links}}
          <a href="{{.Link}}">
            <img src="{{.Image}}" id="retour"/>
          </a>
        {{ end }}
      </nav>
    </footer>
    {{ end }}

  </body>

</html>

 

{{ end }}