{{ define "page" }}
<!DOCTYPE html>
<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="/static/js/slider.js"></script>
    
    <title></title>

  </head>

  <body>
    
    {{template "navbar" .}}
    <main> 
    {{template "header" .}}
    
    <div id="all-content" class="{{.Content_id}}">
    
      {{ template "content" .}}
    </div>
  	</main>
    <div id="pop">
      <img class="quit" src="/static/images/cross.svg" onclick="cacheSlider()"/>
      <div class="container_all">
        <div class="before progress"></div>
        <div class="images">
          <img class="visible" src="/static/galerie/fleurs/flower-179004.jpg"/>
        </div>
        <div class="after progress" ></div>
      </div>
  </body>

</html>

 

{{ end }}
