{{ define "page" }}

 

<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/nounours.css" />
    <script src="/static/js/nounours.js"></script>
    
    <title></title>

  </head>

  <body>
    <h1><strong>Zosio</strong>.Weloveminitel.eu</h1>
    <div id="all-content">
    {{ template "content" .}}
    </div>
    <footer>
      
      <a href="/licenses">Les licenses</a>
    </footer>
  </body>

</html>

 

{{ end }}